{% extends "base.html" %}

{% block title %}Дашборд{% endblock %}

{% block content %}
<h1>Добро пожаловать в админ-панель!</h1>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Управление стримами</h5>
                <p class="card-text">Добавление и редактирование стримов</p>
                <a href="/streams" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Управление контентом</h5>
                <p class="card-text">Добавление и редактирование контента</p>
                <a href="/content" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Пользователи</h5>
                <p class="card-text">Управление пользователями</p>
                <a href="/users" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
</div>

<div class="mt-4">
    <a href="/logout" class="btn btn-danger">Выйти</a>
</div>
{% endblock %}
